/* body */

body {
  background-color: #a796f5;
  padding: 15px;
  padding-top: 150px;
  margin: 0px;
}

/* divs */

.nav-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bc8edb;
  border: 1px solid #352481;
  box-shadow:3px 3px 10px #72689e;
  padding: 10px 20px;
  display: flex;
  gap: 60x;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 17%;
}

.header-div { 
  background-image: url(https://i.pinimg.com/1200x/80/9c/ff/809cffff920c0676417bf30f0922a3bc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border: 1px solid #352481;
  border-radius: 10px;
  box-shadow:3px 3px 10px #72689e;
  padding:40px; 
  width:1400px; 
  margin:auto; 
  text-align:center; 
  margin-bottom: 20px;
  line-height: 0.8;
}

.footer-div {
  background-color: #bc8edb;
  border: 1px solid #352481;
  box-shadow:3px 3px 10px #72689e;
  padding: 20px;
  width: 100%;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  text-align:center;
}

.content-div, div#welcome-div {
  background-image: url(gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border: 1px solid #352481;
  border-radius: 10px;
  box-shadow:3px 3px 10px #72689e;
  padding:40px; 
  width: 40%; 
  margin:15px; 
  text-align:justify; 
  margin-bottom: 20px;
  line-height: 0.8;
  display: inline-block;
  vertical-align: top;
}

.about-div {
  background-image: url(gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border: 1px solid #352481;
  border-radius: 10px;
  box-shadow:3px 3px 10px #72689e;
  padding:40px; 
  width: 50%; 
  margin:15px; 
  text-align:justify; 
  margin-bottom: 20px;
  line-height: 0.8;
  display: inline-block;
  vertical-align: top;
}

.big-div {
  background-image: url(gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border: 1px solid #352481;
  border-radius: 10px;
  box-shadow:3px 3px 10px #72689e;
  padding:40px; 
  width: 93%; 
  margin:15px; 
  text-align:center; 
  margin-bottom: 20px;
  line-height: 0.8;
  margin:auto;
}

.activity-div {
  background-image: url(https://i.pinimg.com/736x/5c/0e/70/5c0e7061acca833fdfc362b75ae768ed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border: 1px solid #352481;
  border-radius: 10px;
  box-shadow:3px 3px 10px #72689e;
  padding:40px; 
  width: 93%; 
  margin:15px; 
  text-align:center; 
  margin-bottom: 20px;
  line-height: 0.8;
  margin:auto;
}

/* links */

.nav-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #352481;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;
  color: #352481;
  background-color: #a5b2eb;
  font-family: 'Jersey 10', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.nav-btn:link {
	background-color: #a5b2eb;
}

.nav-btn:visited {
	background-color: #ff92d0;
}

.nav-btn:hover {
	background-color: #f5e7f1;
}

.nav-btn:active {
	background-color: #b370e0;
}

.registration-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #352481;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;
  color: #352481;
  background-color: #a5b2eb;
  font-family: 'Jersey 10', sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

/* h1 */

h1#title-nav {
  font-family: 'Jersey 15', sans-serif;
  font-size: 3em;
  color: #ffdff6;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.header-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 6em;
  color: #352481;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.footer-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 3em;
  color: #352481;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.content-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4em;
  color: #352481;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.activity-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4em;
  color: #5d1385;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}


.lessons-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5em;
  color: #352481;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

/*h2*/

.header-h2 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 3em;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
}

.footer-h2 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 2em;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
}

/*h3*/

.header-h3 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 2em;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
}

.footer-h3 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 1.5em;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
}

/*p*/

.content-p {
  font-family: 'Jersey 10', sans-serif;
  font-size: 2em;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
  margin-bottom:10px;
  text-align:justify;
}

.lessons-p {
  font-family: 'Jersey 10', sans-serif;
  font-size: 35px;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
  margin-bottom:10px;
  text-align:justify;
}

.resource-p {
  font-family: 'Jersey 10', sans-serif;
  font-size: 50px;
  color: #352481;
  letter-spacing: 3px;
  margin: 0;
  margin-bottom:10px;
  text-align:justify;
}

/* img */

img#logo-nav {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.logo-lesson {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.header-img {
  width:100%;
  height:100px;
  border: 1px solid #352481;
  border-radius: 5px;
}

.about-img {
  border: 1px solid #352481;
  border-radius: 5px;
  float:left;
  margin-left:20px;
}

.tag-img {
	height: 250px;
    width: 250px;
	border: 1px solid #352481;
    border-radius: 5px;
	float:right;
	margin-left:10px;
}

.output-img {
	height: 320px;
    width: 320px;
	border: 1px solid #352481;
    border-radius: 5px;
	float:right;
	margin-top:10px;
	margin-left:10px;
	
}

.code-img {
	height: 125px;
    width: 100%;
	border: 1px solid #352481;
    border-radius: 5px;
	margin:0;
}

/*hr*/
hr{
	background-color:#352481;
	border: none;
    height: 3px;
	margin-top:20px;
	margin-bottom:20px;
}

.activity-hr{
	background-color:#5d1385;
	border: none;
    height: 3px;
	margin-top:20px;
	margin-bottom:20px;
}

iframe#intro-vid {
  margin:0;
}

.register-form, .details-div, .video-div {
  margin: 50px auto;
  padding: 40px;
  background: rgba(255,255,255,0.6);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  font-family: 'Jersey 10', sans-serif;
}

.register-form {
  font-size:35px;
  width: 500px;
}

.details-div {
  font-size:50px;
  width;80%;
  text-align:left;
}

.video-div {
	width;80%;
    text-align:center;
}

/* Each row */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  text-align:center;
}

/* Labels aligned left */
.form-group label {
  width: 140px;
  font-weight: bold;
  color: #352481;
}

/* Inputs & select */
.form-group input,
.form-group select {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #352481;
  border-radius: 8px;
  font-size: 14px;
}

/* Radio group */
.radio-group {
  display: flex;
  gap: 20px;
}

/* Button */
.register-btn {
  margin-top: 20px;
  padding: 15px;
  width: 220px;
  background-color: #a5b2eb;
  border: 2px solid #352481;
  border-radius: 10px;
  font-family: 'Jersey 10', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  cursor: pointer;
  display: block;
  font-weight: 900;
  color: #352481;
  margin: 20px auto 0 auto;
}

.register-btn:hover {
  background-color: #8f9fe0;
}

.feedback-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-family: 'Jersey 10', sans-serif;
  font-size:30px;
  color: #352481;
}

.feedback-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #DC77BB;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c45aa3;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  font-size: 40px;
}

.contact-item a {
  text-decoration: none;
  color: #352481;
  transition: 0.3s;
}

.contact-item a:hover {
  color: #DC77BB;
}

.topic-link, .resources-a {
	text-decoration: none;
}

.topic-link:link, .resources-a:link {
	color: #352481;
}

.topic-link:visited, .resources-a:visited {
	color: #ff92d0;
}

.topic-link:hover, .resources-a:hover {
	color: #8d9de7;
}

.topic-link:active, .resources-a:active {
	color: #b370e0;
}

.resources-ul {
	margin:0;
}

.resources-li {
	text-align:left;
	color:#352481;
	font-size:35px;
}

.attributes-table {
  width: 100%;
  border:2px solid #352481;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Jersey 10', sans-serif;
  font-size: 35px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  border: 2px solid ;
}

td {
color:#352481;
}

th {
  color:white;
  background-color:#352481;
  letter-spacing:3px;
}
